body {
    font-family: Arial, sans-serif;
    background-color: #F4EEE0;
    color: #333;
}

#auth-container, #comment-section {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
#back { 
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    border: none;
 
    border-radius: 5px;

}
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#comments {
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
